{% block head %}
<style>
  .navbar-custom {
    background-color: #B90238
  }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-md navbar-custom navbar-dark">
  <div class="container-fluid">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
      <span id="toolbar" class="navbar-toggler-icon"></span>
    </button>
   <a class="navbar-brand" href="/search/" style="font-family: 'Hachi Maru Pop', cursive;">
        {% load static%}
      <img src="{% static 'images/ipc-partners.png' %}" alt="Logo" style="width:150px;">
    </a>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/search"><span class="ml-5" style="font-family:'Courier New', cursive; color:#FFFFFF; font-size:150%">HOME</span></a>  </li>
        <li><a href="#"><span class="ml-5" style="font-family:'Courier New', cursive; color:#FFFFFF; font-size:150%">TEST1</span></a>  </li>
        <li><a href="#"><span class="ml-5" style="font-family:'Courier New', cursive; color:#FFFFFF; font-size:150%">TEST2</span></a>  </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}
<div class="container-fluid bg-3 text-center">  
<form method="get" action="." class="form" role="form">
        {{ form.non_field_errors }}
        <div class="form-group mt-5" style="font-family:'Times New Roman'">
                {{ form.as_p }}
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Search">
        </div>

        {% if query %}
            <h3>Results</h3>
              
        <div class="container-fluid bg-4 text-left">    
                <div class="row">
    
                    {% for result in page.object_list %}
                       
                <div class="col-sm-4 mt-3 mx-auto" style="font-family:'Batang'">
                  <div class="img-thumbnail">
                    <div class="image">
                        <a href="/business/{{result.ig_id}}">
			    <img class="circular--square" src="{{result.profile_picture_url}}" ALIGN="right", style="width:160px">
			</a>
                    </div>
                    <div class="form-group">
                        <p>IG ID : {{result.ig_id}} </p>
                    </div>
		    <div class="form-group">
                        <p>Name : {{result.name}} </p>

                    </div>
                    <div class="form-group">
                        <p>Username : {{result.username}} </p>
                        
                    </div>

                    <div class="form-group">
                        <p>Followers : {{result.followers_count}} </p>
                    </div>
                    <div class="form-group">
                        <p>Following : {{result.follows_count}} </p>
                    </div>
                    <div class="form-group">
                        <p>Posts : {{result.media_count}} </p>
                    </div>
                  </div>
                </div>
                {% empty %}
                    
                   <p style="text-center">No results found.</p>
                    {% endfor%}
                </div>
        </div>   
           
        {% endif %}
</form>
</div>

{% endblock %}
